#task-box-focused {
    color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

#panel-top {
    background: rgba (0, 0, 0, 0.9);
    border-radius: 15px;
    border: 2px solid;
    border-color: #ffffff;
    color: #ffffff;
}


#hyprland-workspaces {
    font-size: 25px;
}


#hyprland-workspaces-occupied { 
    color: rgba(255, 255, 255, 1);

}

#clock {
    font-size: 25px;  
}

#panel-bottom {
    background: rgba (0, 0, 0, 0.9);
    border-radius: 15px;
    border: 2px solid;
    border-color: #ffffff;
    color: #ffffff;
}


