window {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) 3px solid;
    border-radius: 15px;
}

/* search entry */
entry {
   background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: rgba(255, 255, 255, 1) 3px solid;
    border-radius: 15px;
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: rgba (255, 255, 255, 0.2);
    border-radius: 15px;
   
}


#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted gray
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}


