window {
	background-image: url("/usr/share/nwg-hello/girl.png"); background-size: 100% 100%
}

#form-wrapper {
	background-color: rgba(0, 0, 0, 0.7)
}

entry {
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 255, 255, 0.7);
	border: 3px solid #ff00ff;
	border-radius: 15px;
	padding: 12px
}

button {
	background: none;
	background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 255, 255, 1);
	border: 3px solid #ff00ff;
	border-radius: 15px;
	padding: 12px
}

button:hover {
	background-color: rgba(0, 0, 0, 0.7)
}

#power-button {
	border-radius: 15px;
    background:none;
    border: none;
}

#power-button:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

#power-button:active {
    background-color: rgba(255, 255, 0, 0.2)
}

#welcome-label {
	font-size: 48px
}

#clock-label {
	font-family: arial;
	font-size: 30px
}

#date-label {
	font-size: 18px
}

#form-label {
}

#form-combo {
}

#password-entry {
background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 255, 255, 0.7);
}

#login-button {
background-color: rgba(0, 0, 0, 0.7);
	color: rgba(0, 255, 255, 0.7);

}
